---
export interface Props {
    title: string;
    level: number;
}

const { title, level } = Astro.props as Props;

const Header = `h${level + 1}`;
---

<div class="resume__section">
    <Header>
        {title}
    </Header>

    <div class=`indent-level-${level}`>
        <slot> Nothing here for now...</slot>
    </div>
</div>
