<div class="resume__footer">
    <hr />

    <p>
        You can access to the latest version of this resume from <a
            target="_blank"
            rel="noopener noreferrer"
            href=`${Astro.site}/resume`>here</a
        >
    </p>
    <p>
        This resume is inspired by <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.man7.org/linux/man-pages/man1/man.1.html"
            >Linux manual pages</a
        >
    </p>
</div>
