---
import ResumeSection from "./ResumeSection.astro";

export interface Props {
    title: string;
    level: number;
    list: Array<string>;
}

const { title, level, list } = Astro.props as Props;
---

<ResumeSection title={title} level={level}>
    <slot />

    <ul>
        {
            list.map((element) => {
                return <li>{element}</li>;
            })
        }
    </ul>
</ResumeSection>

<style lang="scss">
    @media print {
        ul {
            display: flex;
            flex-wrap: wrap;

            gap: 1rem;

            li {
                flex-grow: 1;
            }
        }
    }
</style>
