---
import { allCollections } from "@scripts/collection-utils";
---

<header>
    <a href="/" class="title" >home</a>

    {
        allCollections
        .filter((collection) => {
            return collection !== 'pages';
        })
        .map((collection) => {
            return <a href={ `/${collection}/` } class="nav-link">{ collection }</a>;
        })
    }

</header>
