---
import ASCIIPortrait from "./ASCIIPortrait.astro";
import { contacts, neofetch } from "@data/personal-data";

export const getFirstName = (fullName) => {
    const firstName = fullName.split(" ")[0];
    return firstName.toLowerCase();
}
---

<div class="neofetch">
    <div class="neofetch__command">
        <p>[{getFirstName(neofetch["Full Name"])}@home <span class="love">~</span>]$ neofetch</p>
    </div>
    <div class="neofetch__stdout">
        <div class="neofetch__image"><ASCIIPortrait /></div>
        <div class="neofetch__text">
            {
                Object.entries(neofetch).map((entry) => {
                    let key = entry[0];
                    let value = entry[1];

                    return (
                        <p>
                            <span class="foam">{key}</span>: {value}
                        </p>
                    );
                })
            }
            <p>
                <span class="foam">Contacts</span>:
                {
                    contacts.map((entry) => {

                        return (
                            <a
                                href={entry.url}
                                target="_blank"
                                rel="noopener noreferrer"
                            >{entry.name}</a>
                            <span> </span>
                        );
                    })
                }
            </p>
        </div>
    </div>
</div>
