---
// Layout imports
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import MarkdownLayout from "@layouts/MarkdownLayout.astro";

export async function getStaticPaths() {
    const projectsCollection = await getCollection("projects");

    return projectsCollection
    .filter((project) => {
        return !project.data.draft;
    })
    .map((project) => {
        let { slug } = project;

        return {
            params: { slug: slug },
            props: { project: project },
        };
    });
}

const { project } = Astro.props;
const { data } = project;
---

<MainLayout>
    <MarkdownLayout page={project}>
        <h1>{data.title}</h1>

        <p>
            {data.description}
        </p>
        <p>
            This project <span class={data.actively_developed && "love"}
                >is</span
            >
            {!data.actively_developed && <span class="love">not</span>} actively
            developed
        </p>
        <p>
            Access from <a
                href={data.url}
                target="_blank"
                rel="noopener noreferrer">here</a
            >
        </p>
    </MarkdownLayout>
</MainLayout>
